@model LoginViewModel

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<bodyd>
    <form asp-action="Login" method="post">
        @Html.AntiForgeryToken()

        <div class="card">
            <div class="card-body">
                <div class="mb-1">
                    <h5>Email Address</h5>
                    <input asp-for="Email" type="email" class="form-control"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="mb-1">
                    <h5>Password</h5>
                    <input asp-for="Password" type="password" class="form-control"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <button type="submit" class="button-cards">Sign in</button>
        </div>
    </form>
</bodyd>
</html>

